@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #1B1725;
  --light: #FCFFFD;
  --mac: #787878;
}

[data-theme="light"] {
  --primary: #0d6efd;
  --secondary: #6c757d;
  --success: #198754;
  --danger: #dc3545;
  --info: #0dcaf0;
  --warning: #ffc107;
  --color-bg: var(--light);
  --color-fg: var(--dark);
  --word : rgba(21,25,29);
}

[data-theme="dark"] {
  --primary: #3498db;
  --secondary: #2c3e50;
  --success: #27ae60;
  --danger: #e74c3c;
  --info: #3498db;
  --warning: #f39c12;
  --color-bg: var(--dark);
  --color-fg: var(--light);
  --word : #fae7c8;
}

.ff-poppins {
  font-family: "Poppins";
}

.ff-roboto {
  font-family: "Roboto";
}

.ff-monster {
  font-family: "Montserrat";
}

.gradient-text {
  background: -webkit-linear-gradient(90deg,#4ca5ff,#b573f8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.debug {
  border: 1px solid var(--color-fg);
}

.app-box-shadow {
  border-bottom: 2px solid #7878784B;
}

body, nav {
  background-color: var(--color-bg);
  color: var(--color-fg);
  transition: background-color 700ms;
}
